@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515c6f;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */
  background-color: rgb(221, 221, 221);
}
#img_icon {
  margin-left: -25px;
  margin-top: -25px;
}
hr {
  margin-top: 4px;
  border:1px solid rgb(220, 220, 220);
  
  
  /* color: rgb(197, 13, 13); */
}
.wrapper {
  width: 14rem;
  height: 33rem;
  /* padding: 25px 30px; */
  overflow: hidden;
  position: relative;
  /* border-radius: 20px; */
  background: var(--white);
  /* box-shadow: 0px 6px 15px var(--lightbshadow); */
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
}
.wrapper i {
  cursor: pointer;
}
.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i {
  font-size: 30px;
  color: var(--lightblack);
  margin-top: -25px;
}
.top-bar i:first-child {
  margin-left: -7px;
}
.top-bar span {
  font-size: 18px;
  margin-left: -3px;
  color: var(--lightblack);
}
.img_container {
  width: 230px;
  height: 230px;

  margin: 35px -5px;
}
.img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow:  0rem 0rem 1.4rem 0.6rem rgba(240, 11, 171, 0.5);
}
.anime {
  animation: rotatePlayer 12s linear infinite;
}
@keyframes rotatePlayer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.song-details {
  text-align: center;
  margin: 30px 0;
}
.song-details p {
  color: var(--lightblack);
}
.song-details .name {
  font-size: 21px;
  color: black;
}
.song-details .artist {
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
  color: rgb(117, 117, 117);
}
.progress-area {
  width: 100%;
  height: 0.3rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07), 0px 2px 4px rgba(0, 0, 0, 0.07),
    0px 4px 8px rgba(0, 0, 0, 0.07), 0px 8px 16px rgba(0, 0, 0, 0.07),
    0px 16px 32px rgba(0, 0, 0, 0.07), 0px 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 4rem;
  position: relative;
  margin-top: 25px;
  transition: width 1s linear;
  -moz-transition: width 1s linear;
  -o-transition: width 1s linear;
  -webkit-transition: width 1s linear;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: rgb(255, 0, 55);
}
.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer {
  margin-top: 2px;
}
.song-timer span {
  font-size: 15px;
  color: rgb(110, 110, 110);
}
.controls {
  margin: 40px 0 5px 0;
}
/* .controls i #more-music {
  font-size: 28px;
  user-select: none;
  background: rgb(109, 109, 109);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
#more-music {
  font-size: 28px;
  user-select: none;
  background: rgb(255, 0, 55);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#repeat-plist {
  font-size: 28px;
  user-select: none;
  background: rgb(255, 0, 55);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 43px;
}
.controls #prev {
  margin-right: -13px;
  color: #313131;
}
.controls #next {
  margin-left: -13px;
  color: #313131;
}
.controls .play-pause {
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(231, 231, 231);
  box-shadow: 0px 0px 5px var(--pink);
}
.controls .play-pause:hover {
  color: rgb(206, 206, 206);
}
.play-pause::before {
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: rgb(255, 0, 55);
}
.play-pause:hover {
  color: rgb(206, 206, 206);
}
.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.music-list {
  position: absolute;
  background: var(--white);
  width: 90%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 5px 12px;
  border-radius: 15px;
  margin-left: 6px;
  marker-end: 34px;
   box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-out;
}
#Music_txt {
  color:   rgb(255, 0, 55);
}
.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
  justify-content: left;
}
.header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}
.header .row i {
  cursor: default;
}
.header .row span {
  margin-left: 5px;
}
.header #close {
  font-size: 22px;
  color: var(--lightblack);
}
.music-list ul {
  margin: 10px 0;
  max-height: 290px;
  overflow: auto;
  

}
.music-list ul::-webkit-scrollbar {
  width: 0px;
}
.music-list ul li {
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  
  color: var(--lightblack);
  border-bottom: 1px solid #e5e5e5;
}
.music-list ul li:last-child {
  border-bottom: 0px;
  
}
.music-list ul li .row span {
  font-size: 17px;
  
}
.music-list ul li .row p {
  opacity: 0.9;
  
}
ul li .audio-duration {
  font-size: 16px;
}
ul li.playing {
  pointer-events: none;
  color:  black;
  font-weight: 800;
}
